<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  where developers and entrepreneurs meet.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sunt consectetur porro magnam hic beatae minus deleniti, maiores tempora dicta, dolore. Nam ex, ipsum quae alias natus praesentium sed enim.</p>
</div>